<!-- base.htmlを継承 -->
{% extends 'base.html' %}

<!-- 以下、about.htmlオリジナルのhead -->
{% block head %}
<style>
    .about {
        margin: 30px auto;
    }
    .row h4 {
        border-bottom: 1px solid;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

<!-- 以下、about.htmlオリジナルのbody -->
{% block body %}
<section class="about" role="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <h4>当サイトについて</h4>
                <p>TOPIX-17シリーズの値動きから、各セクターが市場平均であるTOPIXに対してどの程度強いのか・弱いのかを算出しています。</p>
                <br>
                <br>
                <h4>チャートの見方</h4>
                <p>縦軸の上に行くほどその業種はTOPIXに対して強く、下に行くほどその業種はTOPIXに対して弱いと言えます。</p>
                <p>"TOPIXに対して"というのがポイントであり、上に位置する業種が必ずしも上昇トレンドとは限らず、逆もまた然りです。</p>
                <p>あくまでもTOPIXに対する相対的な強弱を表します。</p>
                <br>
                <br>
                <h4>計算方法</h4>
                <p>ある終値を基点として、その後の終値の推移から価格の変化率を算出します。</p>
                <p>各業種の変化率をTOPIXの変化率を比較することで、その時点における相対的なパフォーマンスが分かります。</p>
                <p>例えば、1年のチャートで食品セクターの最新値が＋20%だった場合、食品セクターの1年間のパフォーマンスはTOPIXと比較して20%良かったことを意味します。</p>
                <br>
                <br>
                <h4>免責事項</h4>
                <p>当サイトは情報提供のみを目的とするものであり、投資勧誘を目的にしたものではありません。</p>
                <p>当サイトで掲載している情報を利用することによって生じたいかなる損害に対しても、当サイトはその責任を一切負いません。</p>
                <br>
            </div>
        </div>
    </div>
</section>
{% endblock %}